* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #222;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    display: grid;
    height: 100vh;
    grid-template-columns: .1fr .1fr .1fr .1fr;
    grid-template-rows: .1fr .1fr;
    grid-template-areas: "card card card card"
    "card card card card";
    grid-gap: .1rem;
    text-align: center;
    padding: .1rem .1rem;
    justify-content:  center;
}

.card {
    background: #fff;
    padding: 10px;
    width: 100px;
    height: 130px;
    margin-top: 100%;
}

.card ul {
    list-style: none;
    font-size: .9em;
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: .1fr;
        grid-template-rows:  .1fr .1fr .1fr .1fr .1fr .1fr .1fr .1fr;
        grid-template-areas: "card" "card" "card" "card" "card" "card" "card" "card";
    }
}